### <font face="微软雅黑" color=#A52A2A > 1.Nth highest salary

limit m,1 等价于 limit 1 offset m

CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT  
BEGIN  
DECLARE M INT;  
SET M=N-1;  
  &emsp; RETURN (  
      &emsp; &emsp;SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC LIMIT M, 1  
  );  
END

### <font face="微软雅黑" color=#A52A2A > 2.按分组取topk问题

### <font face="微软雅黑" color=#A52A2A > 3.pivot

### <font face="微软雅黑" color=#A52A2A > 4.计算球队分数

值得注意的点是：
1. left join 之后，join的key是都保留的，不会只留下一个
2. order by 后面接多个key，可以用逗号隔开

select t.team_id, t.team_name,   
    &emsp;  sum(case when t.team_id = m.host_team AND m.host_goals > m.guest_goals then 3 else 0 end) +   
    &emsp;  sum(case when t.team_id = m.guest_team AND m.guest_goals > m.host_goals then 3 else 0 end) +   
    &emsp;  sum(case when t.team_id = m.host_team AND m.host_goals = m.guest_goals then 1 else 0 end) +   
    &emsp;  sum(case when t.team_id = m.guest_team AND m.host_goals = m.guest_goals then 1 else 0 end) as num_points  
from Teams t left join Matches m on t.team_id = m.host_team or t.team_id = m.guest_team   
group by t.team_id, t.team_name  
order by num_points desc, team_id ASC;